:root{
    --orange: #cf442b;
    --white: #fff;
    --black: #000;


    --tittles: 10px;
    --paragraph: 10px;
    font-size: 16px;
    --name-font: 'Varela Round', sans-serif;
    --description-font: 'Kumbh Sans', sans-serif;
    --tittle-articles-font: 'Ubuntu', sans-serif;
    --paragraph-articles-font: 'PT Sans', sans-serif;
    --tittle-articles-proyects-font: 'Open Sans', sans-serif;
    --paragraph-articles-proyects-font: 'Lato', sans-serif;
    --links-font: 'Noto Serif', serif;

}

*{
    margin: 0;
    padding: 0;
}

body{
    background: #E1DFDF;
}

/* START HEADER */


header{

}

header nav{
    background: rgba(255, 255,255, 0.1);
    box-shadow: rgba(255, 255,255, 0.1) 0 0 10px 10px;
    position: absolute;
    /* position: fixed; */
    top: 0px;
    width: 100%;
    height: 100px;
}

header nav ul{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center ;
}

header nav ul li{
    float: left;
    list-style: none;
    /* margin-top: 18px; */
    text-decoration: none;

}

header nav ul li a{
    /* color: #fd5537; */
    color: var(--orange);
    font-size: 17px;
    font-family: var(--links-font);
    font-weight: bold;
    display: inline-block;
    padding: 22px;
    margin-top: 15px;
    text-decoration: none;

}

header nav ul li a:hover{
    transition: 0.4s ;
    margin-top: 17px;
    height: 5px;
    color: #fff;
    background: rgba(204, 76, 52, 0.8);
    border-radius: 0 5px 0px 5px ;
}

/* END HEADER */

/* START PRESENTATION */

.presentation{

}

.bg-header{
    
    width: 100%;
    
}

.bg-header img{
    width: 100%;
    height: 800px;
    /* filter: blur(2px);  */
}

/* NAME HEADER */

.avatar{
background: rgba(255, 255,255, 0.3);
    width: 100%;
    height: 142px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 508px;
}

.avatar img{
    padding: 20px;
    border-radius: 105px;
    width: 8.5%;
    height: 105px;

}

.name{
    background: rgba(255, 255,255, 0.3);
    width: 100%;
    height: 45px;
    font-family: var(--name-font);
    text-align: center;
    position: absolute;
    top: 650px;
    font-size: 35px;
    color: #000;
    /* color: #cf442b; */
}

.description{
    background: rgba(255, 255,255, 0.3);
    width: 100%;
    height: 105px;
    text-align: center;
    position: absolute;
    top: 695px;
    font-size: 25px;
    font-family: var(--description-font);
    color: rgb(22, 22, 22);
    
}

.flag-rd{
    width: 100%;
    position: absolute;
    top: 725px;
    /* left: 619px; */
    display: flex;
    justify-content: center;
    
}

.flag-rd img{
    width: 3%;
    max-width: 3%;
}

/* END NAME HEADER */

/* MAIN */

.about-me{
    box-shadow: rgba(255, 255,255, 0.3) 0 0 20px 10px;
    background: rgba(255, 255,255, 0.2);
    margin: 0 auto;
    width: 75%;
}

.tittle-content{

    margin-top: 50px;
    margin-bottom: 40px;
text-align: center;
}

hr{
    display: inline-block;
    background: var(--orange);
    width: 25% ;
    height: .1px;
    margin-bottom: 5px;
    border: var(--orange) .1px solid;
}

.text-about-me{
    font-family: var(--tittle-articles-font);
    margin: 0 25px;
    display: inline;
    font-size: 25px;

}

.paragraphs{
    font-family: var(--paragraph-articles-font);
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.tittle-about-me{
    font-size: 20px;
    margin: 0 25px 0 25px;
    color: var(--orange);
}

.about-me span{
    font: italic;
    font-size: 17px;
    color: var(--orange);
}

/* END ABOUT ME */










/* START PROYECTS CONTENT */

.proyects{
    display: flex;
    justify-content: center;
}

.proyects-content{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    

}



.tittle-content-two{
    width: 50%;
    padding: 20px;
    margin: 150px 0 25px 2%;
}
.text-my-proyects{
    font-family: var(--tittle-articles-font);
    margin: 0 25px;
    display: inline;
    font-size: 25px;
}

.image-proyect img{
    width: 100%;
    height: 270px;
    box-shadow: rgb(22, 22, 22) 0 2px 5px;
}


.proyect-one{
        text-align: center;
    width: 34%;
    padding: 0px 0 50px 0;
    /* float: left; */
    margin: 60px 50px;
    background: rgba(255, 255,255, 0.3);
    box-shadow: var(--orange) 0 0 25px 0.5px;
    position: relative;

}
    .proyect-one p, .proyect-one h3{
        margin: 0 auto;
        width: 75%;
    }

    .proyect-one h3{
        font-weight: bold;
        font-size: 20px;
        color: var(--orange);
        font-family: var(--tittle-articles-proyects-font);
    }
    .proyect-one p{
        font-family: var(--paragraph-articles-proyects-font);
        font-size: 14px;
    }
    .visit-proyect{
        margin: 40px;

    }
    .visit-proyect i{
        font-size: 35px;
        color: var(--orange);
        position: absolute;
        bottom: 20px;
        left: 350px;
    }


.proyect-two{
    text-align: center;
    width: 34%;
    padding: 0 0 50px 0;
    margin: 60px 50px;
    background: rgba(255, 255,255, 0.3);
    box-shadow: var(--orange) 0 0 25px 0.5px;
    position: relative;
}
    .proyect-two p, .proyect-two h3{
        margin: 0 auto;
        width: 75%;
    }

    .proyect-two h3{
        font-weight: bold;
        font-size: 20px;
        color: var(--orange);
        font-family: var(--tittle-articles-proyects-font);
    }
    .proyect-two p{
        font-family: var(--paragraph-articles-proyects-font);
        font-size: 14px;
    }

    .visit-proyect{
        margin: 40px;
    }
    .visit-proyect i{
        font-size: 35px;
        color: var(--orange);
        position: absolute;
        bottom: 20px;
        left: 350px;
    }


.proyect-tree{
    text-align: center;
    width: 34%;
    padding: 0 0 50px 0;
    margin: 60px 45px;
    background: rgba(255, 255,255, 0.3);
    box-shadow: var(--orange) 0 0 25px 0.5px;
    position: relative;

}
    .proyect-tree p, .proyect-tree h3{
        margin: 0 auto;
        width: 75%;
    }

    .proyect-tree h3{
        font-weight: bold;
        font-size: 20px;
        color: var(--orange);
        font-family: var(--tittle-articles-proyects-font);
    }
    .proyect-tree p{
        font-family: var(--paragraph-articles-proyects-font);
        font-size: 14px;
    }

    .visit-proyect{
        margin: 40px;
    }
    .visit-proyect i{
        font-size: 35px;
        color: var(--orange);
        position: absolute;
        bottom: 20px;
        left: 350px;
    }

.proyect-four{
    text-align: center;
    width: 34%;
    padding: 0 0 50px 0;
    margin: 60px 45px;
    background: rgba(255, 255,255, 0.3);
    box-shadow: var(--orange) 0 0 25px 0.5px;
    position: relative;
 
}
    .proyect-four p, .proyect-four h3{
        margin: 0 auto;
            width: 75%;
    }

    .proyect-four h3{
        font-weight: bold;
        font-size: 20px;
        color: var(--orange);
        font-family: var(--tittle-articles-proyects-font);
    }
    .proyect-four p{
        font-family: var(--paragraph-articles-proyects-font);
        font-size: 14px;
    }

    .visit-proyect{
        margin: 40px;
    }
    .visit-proyect i{
        font-size: 35px;
        color: var(--orange);
        position: absolute;
        bottom: 20px;
        left: 350px;
    }

    /* END PROYECT CONTENT */

    /* START FOOTER */

    footer {
        position: relative;

    }
    
    footer .footer-content{
        position: absolute;
        top: 0;
        width: 100%;
        height: 350px;
        background: rgb(32, 32, 32);
    
    }

    footer .name-links-one{
        font-size: 20px;
        margin: 40px 0 0 50px;
        padding: 40px 0 0 0;
    }
        footer .name-links-one i{
            font-size: 19px;
            color: var(--orange);
            margin: 0 10px 0 10px;
        }


    footer .footer-content .navegation-menu{
        margin: 0 0 0 100px;
        width: 100%;    

       
    }

    footer .footer-content nav ul{
        width: 100%;
    }
    
    footer nav ul li{
        text-decoration: none;
        list-style: none;
    }
    
    footer nav ul li a{
        font-family: var(--links-font);
        color: #fff;
        font-size: 16px;
        display: inline-block;
        margin-top: 12px;
        text-decoration: none;
    
    }
    
    footer nav ul li a:hover{
        transition: 0.4s;
        color: var(--orange);
        text-decoration: underline;
    }

    footer .links-content{
        width: 30%;
        margin-left: 0px;
        float: left;
    }
    
    footer .contacts-content{
        margin: 5px 0px 0 0px;
        width: 30%;
        float: left;
        
    }
        .name-contacts{
            font-size: 20px;
            margin: 40px 80px 0 0px;
            padding: 40px 0 0 0;
        }
        footer .name-contacts i{
            font-size: 19px;
            color: var(--orange);
            margin: 0 10px 0 10px;
        }

        footer .contacts-content .sub-name-contacts{
            margin: 0 0 0 70px;
            color: var(--orange);
            font-size: 17px;
            margin-top: 12px;
        }

        footer .contacts-content p{
            font-size: 15px;
            margin: 0 0 0 90px;
            color: #fff;
        }

        footer .contacts-content p i{
            color: var(--orange);
            padding: 5px 0 0 0;
            margin: 0 2px 0 5px;
        }

.footer-content{

    display: flex;
    justify-content: center;
}

footer .social-networks-content{
    width: 30%;
    float: left;
}

    footer .social-networks-content .name-social-networks{
        font-size: 20px;
            margin: 40px 0px 0 80px;
            padding: 40px 0 0 0;
    }

    footer .social-networks-content .sub-name-social-networks  i{
            font-size: 19px;
            color: var(--orange);
            margin: 0 4px 0 20px;
    }

    footer .sub-name-social-networks{
        margin: 0 0 0 70px;
        font-size: 17px;
        margin-top: 12px;
    }

    footer .sub-name-social-networks .instagram-text{
        font-size: 18px;
        color: var(--orange);

    }

    footer .social-networks .sub-name-social-networks .instagram-link{
        text-decoration: none;
        color: #fff;

    }
    footer .social-networks .sub-name-social-networks .instagram-link:hover{
        color: #cf7464;
        transition: 0.4s;
        text-decoration: underline;
    }

    footer .footer-cr{
        width: 100%;
        height: 40px;
        text-align: center;
        background: #000;
        color: var(--orange);
        padding: 10px 0 0 0;
        position: absolute;
        bottom: 0;
        
    }

    